* {
	margin: 0;
	box-sizing: border-box;
}

#grid {
	padding: 3%;
	background-color: #f7f7f7;
	text-align: center;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(12, minmax(20px,7vh));
	grid-auto-rows: minmax(20px,7vh);
}

.block {
	background-color: blue;
	border: 1px solid black;
}




/*#grid {
	padding: 5em;
	text-align: center;
	display: grid;
	justify-content: center;
	background: gray;
	grid-template-columns: repeat(15, 5vh);
	grid-auto-rows: 5vh;
}

.block {
	background-color: blue;
	border: 1px solid black;
}*/