* {
	margin: 0;
	box-sizing: border-box;
}

#grid {
	background-color: #f7f7f7;
	text-align: center;
	justify-content: center;
	display: grid;
	grid-template-columns: repeat(auto-fit, 2.5vw);
	grid-auto-rows: 2.5vw;
}

.block {
	/*border: 1px solid white;*/
	background-color: black;
	padding:10%;
	justify-content: center;
}

.star {
	border: 1px solid blue;
	border-radius: 50%;
	background-color: yellow;
	height: 100%;
	width: 100%;
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}